<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Create a Post')" ></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<h1>Create New Post</h1>
<form th:action="@{/posts/create}" method="POST" th:object="${post}">
    Title:
    <input th:field="*{title}" />
    <br />
    Body:
    <textarea rows="20" cols="150" th:field="*{body}" />
    <br />
    <input type="submit" />
</form>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>