<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Create')" ></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<h1>Create New Post</h1>
<form th:action="@{/posts/create}" method="POST" th:object="${post}">
    Title:
    <input th:field="*{title}" />
    <br />
    Body:
    <textarea rows="4" cols="50" th:field="*{body}" />
    <br />
    <input type="submit" />
</form>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>