<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Rolled the dice were')" ></head>
<body>
<h1>You guessed: <span th:text="${n}"></span></h1>
<h1>The Correct answer is <span th:text="${number}"></span> </h1>
<h1 th:if="${result}">You are a winner!!!</h1>
<img th:if="${!result}" src="https://media.giphy.com/media/3oz8xLd9DJq2l2VFtu/giphy.gif" width="480" height="287" />
<br />
<a href="/roll-dice"><button>Return to Roll Again!</button></a>
</body>
</html>