<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Roll Dice</title>
</head>
<body>

<h1>Dice Roller</h1>
<h2>Guess the number and roll the dice!</h2>
    <a href="/roll-dice/1"><Button type = "submit">1</Button></a>
    <a href="/roll-dice/2"><Button type = "submit">2</Button></a>
    <a href="/roll-dice/3"><Button type = "submit">3</Button></a>
    <a href="/roll-dice/4"><Button type = "submit">4</Button></a>
    <a href="/roll-dice/5"><Button type = "submit">5</Button></a>
    <a href="/roll-dice/6"><Button type = "submit">6</Button></a>
</body>
</html>